In [2]:
import pandas as pd
from scipy import sparse
from sklearn import preprocessing
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
toy = pd.read_csv('/root/denno/toy_dataset.csv', index_col = 0)

In [7]:
toy

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [8]:
toy = toy.fillna(0)

In [9]:
toy

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [15]:
def standardize(row):
    new_row = (row - row.mean())/(row.max() - row.min())
    return new_row
toy = toy.apply(standardize)

In [16]:
toy

        action1  action2   action3  romantic1  romantic2  romantic3
user 1     0.36      0.6  0.400000      -0.65      -0.08      -0.35
user 2     0.56      0.2  0.400000      -0.15      -0.08      -0.60
user 3    -0.24     -0.4 -0.600000       0.35       0.52       0.40
user 4    -0.44      0.0 -0.266667       0.35      -0.48       0.15
user 5    -0.24     -0.4  0.066667       0.10       0.12       0.40

In [19]:
item_similarity = cosine_similarity(toy.T)
item_similarity

array([[ 1.        ,  0.70668875,  0.81368151, -0.79941088, -0.02539184,
        -0.91410609],
       [ 0.70668875,  1.        ,  0.72310153, -0.84515425, -0.5189993 ,
        -0.84337386],
       [ 0.81368151,  0.72310153,  1.        , -0.84794611, -0.3799803 ,
        -0.80218063],
       [-0.79941088, -0.84515425, -0.84794611,  1.        ,  0.14803913,
         0.72374686],
       [-0.02539184, -0.5189993 , -0.3799803 ,  0.14803913,  1.        ,
         0.39393939],
       [-0.91410609, -0.84337386, -0.80218063,  0.72374686,  0.39393939,
         1.        ]])

In [20]:
item_similarity = pd.DataFrame(item_similarity, index = toy.columns, columns=toy.columns)

In [21]:
item_similarity

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

In [42]:
def get_similar_score(movie_name, ratings):
    similar_score = item_similarity[movie_name]*ratings
    similarity_score = similar_score.sort_values(ascending=False)
    return similar_score
print(get_similar_score("romantic2", 1))

action1     -0.025392
action2     -0.518999
action3     -0.379980
romantic1    0.148039
romantic2    1.000000
romantic3    0.393939
Name: romantic2, dtype: float64

In [66]:
def get_similar_movies(movie_name, user_rating):
    similar_score = item_similarity[movie_name]*(user_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score
print(get_similar_movies("romantic3", 5))

romantic3    2.500000
romantic1    1.809367
romantic2    0.984848
action3     -2.005452
action2     -2.108435
action1     -2.285265
Name: romantic3, dtype: float64

In [63]:
action_lover =[('action1', 5), ('romantic3', 1), ('romantic2', 1)]
similarity_movie = pd.DataFrame()

In [64]:
for movie, rating in action_lover:
    similarity_movie = similarity.append(get_similar_movies(movie, rating), ignore_index=False)

In [65]:
similarity

action2      0.778499
action3      0.569970
action1      0.038088
romantic1   -0.222059
romantic3   -0.590909
romantic2   -1.500000
Name: romantic2, dtype: float64

In [62]:
action_lover = [("action1",5),("romantic2",1),("romantic3",1)]

similar_movies = pd.DataFrame()

for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating),ignore_index=True)

similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

action1      3.909247
action2      3.810282
action3      3.807445
romantic2   -2.154389
romantic1   -3.306206
romantic3   -4.376174
dtype: float64